#contact-details {

	margin-bottom: -60px;

	@mixin small {
		margin-bottom: 0px;
	}

	.container-body {

		@mixin small {
			margin: 0;
			padding: 80px 20px;
		}
	}

	.column-medium-3 {
		float: left;
		color: $text-secondary-color;
		margin-bottom: 50px;

		@mixin medium {
			padding: 0px 10px;
		}
		
		@mixin small {
			float: none;
			padding: 0;
			text-align: center;
		}
	}

	.column-medium-3:nth-child(1) {
		width: 50%;
		

		.logo {
			margin-top: -20px;

			@mixin medium {
				width: 70%;
			}

			@mixin small {
				width: 60%;
			}

			@mixin extraSmall {
				width: 90%;
			}
		}

		@mixin large {
			padding-left: 30px;
		}

		@mixin small {
			width: 100%;
			padding-left: 0px;
			
		}

		.logo-hr {
			width: 70%;
			margin-left: 10px;
			height: 3px;
			background: $text-secondary-color;
			border: none;
			margin-bottom: 40px;

			@mixin small {
				width: 40%;
				margin: auto;
				margin-top: 20px;
				margin-bottom: 25px;
			}

			@mixin extraSmall {
				width: 50%;
				margin: auto;
				margin-top: 20px;
				margin-bottom: 30px;
			}
		}

		p {
			font-size: 25px;
			font-weight: 700;
			margin-bottom: 20px;

			@mixin medium {
				font-size: 20px;
				padding-left: 10px;
			}
		}

		.social-links {
			.facebook, .messenger, .twitter {
				margin-left: 30px;
				width: 40px;

				 @mixin medium {
				 	width: 30px;
				 	margin-left: 20px;
				 }

				 @mixin small {
				 	width: 40px;
				 }
			}

			.facebook {
				width: 20px;

				@mixin medium {
				 	width: 16px;
				 	margin-left: 10px;
				 }

				 @mixin small {
				 	width: 20px;
				 }
			}

			img:nth-child(1) {
				margin-left: 0;

				@mixin medium {
					margin-left: 10px;
				}
			}
		}
	} /* end of first column */

	.column-medium-3:nth-child(2) {
		width: 30%;

		@mixin medium {
			font-size: 14px;
		}

		@mixin small {
			width: 100%;
			margin-top: 50px;
			font-size: 16px;
		}

		h3 {
			font-size: 25px;
			font-weight: 700;
			text-transform: uppercase;
			margin-bottom: 20px;

			@mixin medium {
				font-size: 20px;
			}

			@mixin small {
				font-size: 25px;
			}
		}

		h4 {
			margin-bottom: 20px;

			@mixin medium {
				margin-bottom: 10px;
			}

			@mixin small {
				margin-bottom: 20px;
			}
		}

		p {
			margin-bottom: 20px;

			@mixin medium {
				margin-bottom: 10px;
			}

			@mixin small {
				margin-bottom: 20px;
			}
		}

	} /*end of 2nd column*/

	.column-medium-3:nth-child(3) {
		width: 20%;
		margin-bottom: 0;

		@mixin small {
			width: 100%;
		}
		
		h3 {
			font-size: 25px;
			text-transform: uppercase;
			font-weight: 700;
			margin-bottom: 20px;

		}

		li {
			margin-bottom: 0px
		}

		li a {
			@mixin medium {
				font-size: 14px;
			}

			@mixin small {
				font-size: 16px;
			}
		}
	}

}