#about-us {


	.container-body {

		@mixin small {
			margin-top: 0;
			margin-bottom: 40px;
		}
	}

	.about-us-image {

		display: inline-block;
		width: 40%;

		@mixin medium {
			width: 40%;
			padding-left: 20px;
		}

		@mixin small {
			width: 60%;
			display: block;
			margin: auto;
			padding-left: 0;
		}

		@mixin extraSmall {
			width: 100%;
			padding: 20px;
		}
			
		img {
			width: 100%;
			box-shadow: 0 0 30px rgba(0,0,0,.2);
			margin-bottom: 20px;
		}
	}

	.about-us-div {
		width: 50%;
		float: right;
		margin-right: 50px;

		@mixin small {
			width: 100%;
			float: none;
			padding: 20px;
			text-align: center;
		}

		h2 {
			font-size: 40px;
			margin-bottom: 40px;
		}

		p {
			font-size: 20px;
			color: $text-secondary-color;

			@mixin small {
				padding: 0 40px;
				font-size: 18px;
			}

			@mixin extraSmall {
				font-size: 16px;
				padding: 0;
			}
		}
	}

}