#contact-form {
/*	background: rgba(227, 227, 227, 0.55);
	background: url('../../assets/images/truck-container.png');
	background-attachment: fixed;
	background-position: cover;
	background-repeat: no-repeat;*/
	padding: 50px 150px;

	@mixin large {
		padding: 20px 80px;;
	}

	@mixin medium {
		padding: 20px;
	}

	@mixin small {
		padding: 40px 10px;
	}

	@mixin iphoneSmall {
		padding: 40px 10px;

	}


	.container-body {

		@mixin small {
			margin: 50px 0;
		}
	}

	.contact-form-details {
		background: white;
		width: 50%;
		float: left;
		padding: 30px 50px;
		box-shadow: 0 0 20px rgba(0,0,0,.4);

		@mixin large {
			padding: 30px 40px;
		}

		@mixin medium {
			padding: 20px 40px;
		}

		@mixin small {
			width: 100%;
			float: none;
			margin-bottom: 30px;
		}

		@mixin extraSmall {
			padding: 30px 40px;
			text-align: center;

		}
	}
	.contact-form-mail {
		background: #0b335d;
		width: 50%;
		float: left;

		@mixin small {
			width: 100%;
			float: none;
		}

	}

	.contact-form-header {
		h3 {
			font-size: 18px;
			font-weight: 700;
			margin-bottom: 20px;
		}

		p {
			font-weight: 400;
			font-size: 15px;	
		}
	}

	.contact-form-body {
		margin-top: 40px;



		.contact-number {
			margin-bottom: 20px;
			position: relative;



			i {
				position: absolute;
				top: 5px;

				@mixin extraSmall {
					position: static;
					font-size: 30px;
					margin-bottom: 20px;
				}
			}

			p {
				margin-left: 40px;
				margin-bottom: 10px;

				@mixin extraSmall {
					margin-left: 0;
				}
			}

			p:last-child {
				margin-bottom: 30px;
			}
		}

	}


	.contact-form-mail {
		align-items: center;
		padding: 50px 60px;
		box-shadow: 0 0 20px rgba(0,0,0,.4);

		@mixin medium {
			padding: 50px 30px;
		}

		@mixin small {
			padding: 50px 40px;
		}

		@mixin extraSmall {
			padding: 50px 30px;
		}

		@mixin iphoneSmall {
			padding: 50px 15px;
		}


		.form-group {
			margin-bottom: 20px;

			input[type="text"],input[type="email"],input[type="submit"], textarea{
				width: 100%;
				border: 1px solid white;
				background: transparent;
				color: white;
				padding: 15px;

			}

			input[type="text"]::placeholder ,input[type="email"]::placeholder, textarea::placeholder {
				color: white;
			}



			input[type="submit"]:hover {
				background: #396ca2;
			}
		}

		.form-group:last-child {
			margin-bottom: 0;
		}

	}
}